<!-- Portfolio Modals -->
<% Game.all.each do |game| %>
    <div class="portfolio-modal modal fade" id="portfolioModal<%= game.id.to_s %>" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content" data-name = "<%= game.tag %>" >
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <h2><%= game.name%></h2>
                <hr class="star-primary star-modal">
                  <% tournament = game.next_tournament %>
                  <% if tournament %>
                    <div class="col-lg-8 col-lg-offset-2">
                      <form role="form">
                        <div class="row">
                          <h3>Næste turnering</h3>
                          <div class="row">
                            <div class="col-md-4" data-toggle="tooltip" data-placement="bottom" title="<%= render partial: 'tournaments/rules', locals: {:tournament => tournament} %>">
                               <h5>Regler <i class="fa fa-chevron-down"></i></h5>
                            </div>
                            <div class="col-md-4"  >
                              <h5>Max <%= tournament.maxplayers %> spillere</h5>
                            </div>
                            <div class="col-md-4" data-toggle="tooltip" data-placement="bottom" title="<%= render partial: 'tournaments/rewards', locals: {:tournament => tournament} %>">
                                <h5>Belønninger <i class="fa fa-chevron-down"></i></h5>
                            </div>
                          </div>
                          <p>Tilmeldte</p>
                          <div class="line-separator"></div>
                          <% if tournament.player_limit > 1 %>
                            <%= render partial: 'tournament_teams/teams', locals: {:tournament => tournament} %>
                          <% else %>
                            <%= render partial: 'tournament_attendances/players', locals: {:tournament => tournament} %>
                          <% end %>
                        </div>
                        <br>
                        <div class="row">
                          <div class="form-group col-xs-12">
                            <% if current_user %>
                                <% if tournament.player_limit > 1 %>
                                    <button data-toggle="popover" data-content = '<%= render partial: 'tournament_teams/signup', locals: {:tournament => tournament} %>' type="button" id="btn-trn-signup-<%= tournament.id %>" class="btn btn-lg btn-success">Tilmed et hold</button>
                                <% else %>
                                    <%= render partial: 'tournament_attendances/attend_button', locals: {:tournament => tournament} %>
                                <% end %>
                            <% end %>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="">
                        <ul class="list-inline item-details">
                            <li>Platform: <strong><%= game.platforms %></strong>
                            </li>
                            <li>Tid: <strong><%=tournament.tournament_date.strftime('%H:%M, %e. %B') %></strong>
                            </li>
                        </ul>
                    </div>
                  <% end %>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>