<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top">Gefion Gaming <i class="fa fa-gamepad"></i> </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="#portfolio">Spil</a>
        </li>
        <li class="page-scroll">
          <a href="#about">Næste gang</a>
        </li>
        <!--<li class="page-scroll">
          <a href="#contact">Contact</a>
        </li>-->
        <% if current_user %>
            <li class="dropdown visible-sm visible-md visible-lg">
              <a id="user-info-toggle"><i class="fa fa-facebook"></i> <%= current_user.name %> <i class="fa fa-chevron-down"></i></a>
            </li>
            <li class="page-scroll visible-xs">
              <a href="#user-section"><i class="fa fa-facebook"></i> <%= current_user.name %></a>
            </li>
            <!--<li class="alert-button">
              <a id="alert-toggle"><%= @alerts.count %><i class="fa fa-bell"></i></a>
            </li>-->
        <% else %>
            <li class="dropdown">
              <%= link_to "Log in", "/auth/facebook", id: "sign_in" %>
            </li>
        <% end %>

        <li>
          <% if current_user %>
              <%= link_to "Log ud", signout_path, id: "sign_out" %>
          <% end %>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->

  </div>
  <!-- /.container-fluid -->
</nav>