<!-- Holdtilmelding -->
<div class="modal fade team-modal" id="join-team-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content team-modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Holdtilmedling</h4>
      </div>

      <div class="modal-body">
        <div class="form-group floating-label-form-group">
          <input id="team-searcher" placeholder="Søg efter holdnavn eller ven">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Password -->
<div class="modal fade" id="team-password-modal">
  <div class="modal-content team-form-div" style="">
    <div class="modal-body">
      <div class="floating-label-form-group form-group">
        <h3>Password:</h3>
        <%= form_tag team_rosters_path, id:'team-form', :remote => true do %>
            <%= password_field_tag :password, nil, id: 'team-form-password'%>
            <%= hidden_field_tag :team_id, nil %>
            <%= hidden_field_tag :user_id, current_user.id%>
            <br>
            <%= submit_tag 'Tilmeld hold', class: 'btn btn-lg' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Skab et hold -->
<div class="modal fade team-modal" id="create-team-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content team-modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Skab et hold</h4>
      </div>
      <div class="modal-body">
        <div class="floating-label-form-group form-group">
          <%= form_tag(controller: 'teams', method: 'get', class:'') do %>
              <%= text_field_tag 'name', nil, placeholder: 'Navn', autocomplete: 'off'%>
              <br>
              <%= password_field_tag 'password', nil, placeholder: 'Password (valgfrit)', autocomplete: 'off' %>
              </div>

          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= submit_tag("Create", class: "btn btn-default-primary") %>
      </div>
      <% end %>
    </div>
  </div>
</div>