<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Gefion Gaming</title>

  <%= include_gon %>
  <!-- Fonts -->
  <link href="public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <!-- IE8 support for HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top">Gefion Gaming <i class="fa fa-gamepad"></i> </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="#portfolio">Spil</a>
        </li>
        <li class="page-scroll">
          <a href="#about">Næste gang</a>
        </li>
        <li class="page-scroll">
          <a href="#contact">Contact</a>
        </li>
        <li class="dropdown">
            <% if current_user %>
              <a id="user-info-toggle"><i class="fa fa-facebook"></i> <%= current_user.name %> <i class="fa fa-chevron-down"></i></a>
            <% else %>
                <%= link_to "Log in", "/auth/facebook", id: "sign_in" %>
            <% end %>
        </li>
        <li>
          <% if current_user %>
            <%= link_to "Log ud", signout_path, id: "sign_out" %>
          <% end %>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->

  </div>
  <!-- /.container-fluid -->
</nav>
<!-- Hidden user-info popover-->
<% if current_user %>
<div id ="user-info-popover" style="display: none">
  <row>
    <div class="col-md-12">
      <a><img class="img-circle own-profile-img" src="http://graph.facebook.com/<%= current_user.uid %>/picture?height=65&width=65"></a>
    </div>
  </row>
    <div class="popover-team-header">
      <h4>Your teams</h4>
    </div>
    <div id="menu-teams">
        <% current_user.teams.each do |team| %>
          <%= render partial: 'team_rosters/team', locals: {:team => team} %>
        <% end %>
    </div>
    <div class="line-separator"></div>
    <div class="row team-manager-row">
        <div class="col-md-4 col-md-offset-2">
          <button data-tooltip="tooltip" data-target="#join-team-modal" data-toggle="modal" data-placement="bottom" title="Join a team" class="team-button"><i class="fa fa-users"></i></button>
        </div>
      <div class="col-md-4">
        <button data-tooltip="tooltip" data-target="#create-team-modal" data-toggle="modal" data-placement="bottom" title="Create a team" class="team-button"><i class="fa fa-plus"></i></button>
      </div>
    </div>
  <% end %>
</div>
  <!-- Modal -->
  <% if current_user %>
  <div class="modal fade team-modal" id="join-team-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content team-modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Join a team</h4>
        </div>

        <div class="modal-body">
          <div class="form-group floating-label-form-group">
            <input id="team-searcher" placeholder="Søg efter holdnavn eller ven">
            <%= form_tag team_rosters_path, id:'team-form', :remote => true do %>
              <%= hidden_field_tag :team_name, nil %>
              <%= hidden_field_tag :user_id, current_user.id%>
            <% end %>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    <div class="modal fade team-modal" id="create-team-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content team-modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <%= form_tag(controller: 'teams', method: 'get', class:'') do %>
                    <%= text_field_tag 'name', nil, placeholder: 'Enter team name...'%>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <%= submit_tag("Create", class: "btn btn-default-primary") %>
                </div>
            <% end %>
            </div>
      </div>
    </div>
    <% end %>



<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= image_tag("portfolio/game-alone.png", class: "img-responsive", size:"256x256") %>
        <div class="intro-text">
          <span class="name">Gefion Gaming</span>
          <hr class="star-light">
        </div>
      </div>
    </div>
  </div>
</header>

<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Spil</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <% Game.all.each do |game| %>
          <div class="col-sm-4 portfolio-item">
              <%= link_to("#portfolioModal" + game.id.to_s,{ class: "portfolio-link", data: {toggle: "modal"}}) do %>
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <%= image_tag(image_url('game-images/' + game.tag + '-logo.png'), class: "img-responsive") %>
                  <% if game.next_tournament %>
                    <span class="tourney-icon"><%= image_tag("portfolio/tourney-icon.png") %></span>
                  <% end %>
              <% end %>
          </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 text-center">
        <i class="fa fa-plus fa-5x"></i>
      </div>
    </div>
  </div>
</section>

<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Næste gang</h2>
        <hr class="star-light star-about">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-lg-2-offset"></div>
      <% [%w(dag dage days), %w(time timer hours), %w(minut minutter minutes), %w(sekund sekunder seconds)].each do |unit| %>
          <div class="col-lg-2 text-center unit" data-count = '<%= unit[2] %>' data-singular = '<%= unit[0] %>' data-plural = '<%= unit[1] %>'>
            <h2></h2>
            <p></p>
          </div>
      <% end %>

      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h4>Tilmelding</h4>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-lg btn-outline">
            <input type="radio" name="radio-attendance" id="radio-attending" value="attending"> Ja
          </label>
          <label class="btn btn-lg btn-outline">
            <input type="radio" name="radio-attendance" id="radio-maybe" value ="maybe"> Måske
          </label>
          <label class="btn btn-lg btn-outline">
            <input type="radio" name="radio-attendance" id="radio-declined" value="declined"> Nej
          </label>
        </div>
        <br/>
        <p id="attending-list">Hvem kommer?</p>
      </div>
    </div>
  </div>
</section>

<!-- Hidden attending popovers -->
<div id="attend-popover" style="display: none">
  <form class="form-inline">
    <input type="radio" name="radio-attendance" class="radio-attendance" id ="radio-attending" value = "attending">
    <input type="radio" name="radio-attendance" class="radio-attendance" id ="radio-maybe" value = "maybe">
    <input type="radio" name="radio-attendance" class="radio-attendance" id ="radio-decline" value = "declined">
  </form>
</div>

<div id = "attending-list-tooltip" class="text-center" style="display: none">
  <% @attending.each do |x| %>
    <h6><%= x["name"] %></h6>
  <% end %>
</div>
<!-- end -->

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contact Me</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <form role="form">
          <div class="row">
            <div class="form-group col-xs-12 floating-label-form-group">
              <label for="name">Name</label>
              <input class="form-control" type="text" name="name" placeholder="Name">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 floating-label-form-group">
              <label for="email">Email Address</label>
              <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 floating-label-form-group">
              <label for="message">Message</label>
              <textarea placeholder="Message" class="form-control" rows="5"></textarea>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group col-xs-12">
              <button type="submit" class="btn btn-lg btn-success">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Lokation</h3>
          <p>Gefion Gymnasium
            <br>Østervoldgade 10, 1350 kbh. k</p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Find os</h3>
          <ul class="list-inline">
            <li><a href="https://www.facebook.com/pages/Gefion-Gaming/612060718823769" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
            </li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>About Freelance</h3>
          <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; 2014 - Gefion Gaming
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="scroll-top page-scroll visible-xs visble-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>

<!-- Portfolio Modals -->
<% Game.all.each do |game| %>
<div class="portfolio-modal modal fade" id="portfolioModal<%= game.id.to_s %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content" data-name = "<%= game.tag %>" >
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2><%= game.name%></h2>
            <hr class="star-primary">
            <div class="col-lg-8 col-lg-offset-2">
              <form role="form">
                <div class="row">
                  <% tournament = game.next_tournament %>
                  <% if tournament %>
                      <%= link_to tournament do %>
                          <h3>Næste turnering</h3>
                      <% end %>
                      <p>Tilmeldte</p>
                      <div class="line-separator"></div>
                      <div id="trn-teams">
                          <% tournament.teams.each do |team| %>
                              <%= render partial: 'tournament_teams/team', :locals => {:team => team, :tournament => tournament} %>
                          <% end %>
                      </div>
                </div>
                <br>
                <div class="row">
                  <div class="form-group col-xs-12">
                        <button type="button" id="btn-trn-signup" class="btn btn-lg btn-success">Tilmed turnering</button>
                  </div>
                </div>
                </form>
            </div>

                <ul class="list-inline item-details">
                  <li>Platform: <strong><%= game.platforms %></strong>
                  </li>
                  <li>Tid: <strong><a href="http://startbootstrap.com"><%=tournament.tournament_date.strftime('%H:%M, %e. %B') %></a></strong>
                  </li>
                </ul>
                  <% end %>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Tournament signup popover -->
<div id="popover-trn-signup" style="display: none">
  <div class="user-popover" >
    <% if tournament and current_user%>
        <% current_user.teams.each do |team|%>
            <% unless tournament.teams.include?(team)%>
                <%= link_to team.name, tournament_teams_path(:team_id => team.id, :tournament_id => tournament.id), method: :post, :remote => true %>
            <% end %>
        <% end %>
    <% end %>
  </div>
</div>
<% end %>

<%= javascript_include_tag 'application' %>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

</body>

</html>
