<div  id="menu-team-<%= team.id%>">
  <div class="line-separator"></div>
  <div class="popover-team-row orange-row">
    <div class="row">
      <div class="col-xs-2 col-xs-2-offset">
      </div>
      <div class="col-xs-8">
        <p><%= truncate(team.name, :length => 15) %></p>
      </div>
      <div class="col-xs-2">
        <button data-team="<%= team.id %>" class="btn-opaque team-options"><i class="fa fa-cogs"></i></button>
      </div>
    </div>
    <div class="team-users-icons">
      <div class="col-md-offset-1 hidden-sm hidden-xs"></div>
      <% team.users.take(5).each do |user| %>
          <div class="col-xs-1">
            <a data-tooltip="tooltip" data-placement="bottom" title="<%= truncate(user.name, :length=>30) %>" ><img class="img-rounded profile-img" height="25px" src="http://graph.facebook.com/<%= user.uid %>/picture"></a>
          </div>
      <% end %>
    </div>
    <div class="team-xp-div">
      <div class="col-md-3 xp-holder">
        <h4>ggp:<%= team.xp %></h4>
      </div>
    </div>
  </div>
</div>
<div class="hidden" id="menu-team-<%= team.id %>-options">
  <div class="line-separator"></div>
    <div class="popover-team-row orange-row">
      <div class="row">
        <div class="col-xs-2 col-xs-2-offset">
        </div>
        <div class="col-xs-8">
          <p> <%= team.name %></p>
        </div>
        <div class="col-xs-2 ">
          <button data-team="<%= team.id %>" class="btn-opaque team-options-back"><i class="fa fa-undo"></i></button>
        </div>
      </div>
        <div class="row">
          <div class="col-xs-2 col-xs-2-offset">
          </div>
          <div class="col-xs-4">
            <a><button data-tooltip="tooltip" data-target="#invite-team-modal" data-toggle="modal" data-placement="bottom" title="Invitér en ven" class="team-button" ><%= fa_icon 'user-plus 2x', class:'team-button-i', :data => {:team => team.id} %></button></a>
          </div>
          <div class="col-xs-4 " >
            <%= link_to team_rosters_remove_path(:team_id => team.id), :remote => true, data: {confirm: team.get_confirm_message} do %>
                <button data-tooltip="tooltip" data-placement="bottom" title="Forlad holdet" class="team-button"><i class="fa fa-times-circle fa-2x team-button"></i></button>
          <% end %>
          </div>
        </div>
    </div>
</div>