<% if tournament and current_user%>
 <div id="menu-teams-<%= tournament.id %>">
  <% current_user.teams.each do |team|%>
      <% unless (tournament.players - team.users).count < tournament.players.count%>
          <div id="menu-team-<%= team.id%>">
            <div class="line-separator"></div>
            <div class="popover-team-row orange-row">
              <p><%= team.name %><%= link_to tournament_teams_path(:team_id => team.id, :tournament_id => tournament.id), method: :post, :remote => true do %>
                    <i class="fa fa-plus"></i>
                <% end %>
              </p>
              <div class="team-users-icons">
                <div class="col-md-offset-1 hidden-sm hidden-xs"></div>
                <% team.users.take(4).each do |user| %>
                    <div class="col-xs-1">
                      <a data-tooltip="tooltip" data-placement="bottom" title="<%= user.name %>" ><img class="img-rounded profile-img" height="25px" src="http://graph.facebook.com/<%= user.uid %>/picture"></a>
                    </div>
                <% end %>
              </div>
              <div class="team-xp-div">
                <div class="col-md-3 xp-holder">
                  <h4>exp:<%= team.xp %></h4>
                </div>
              </div>
            </div>
          </div>
       </div>
      <% end %>
  <% end %>
<% end %>
