<head>

</head>
<body data-name = <%= @tournament.game.tag %>>
<header id="slide-1" class="trn-header homeSlide">
   <div class="bcg" data-top="opacity: 1; width: 100%; height: 100%; top: 0%; left: 0%;" data--500-top="opacity: 0.8; width: 100%; height: 25%; top: 0%; left: 0%;" data-anchor-target="#slide-1">
        <!--<%= image_tag(image_path('game-images/' + @tournament.game.tag + '-cover.jpg'), class: "img-header") %> -->
   </div>
</header>
<div class="blank-space" data-name = <%= @tournament.game.tag %>>
    <% @tournament.teams.each_with_index do |team,index| %>
        <div class="team-icon" style="background-color: #F8F8F8">
          <p><%= team.name[0,1] %></p>
        </div>
        <% if index-1 % 2 == 0 %>
            <br>
        <% end %>
    <% end %>
</div>
</body>

<%= javascript_include_tag 'application' %>