<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Sidste gang</h2>
        <hr class="star-light star-about">
      </div>
    </div>
    <div id="playing-now" class="row" style="display: none">
      <div class="col-lg-12 col-lg-6-offset text-center">
        <h2>Lige Nu</h2>
      </div>
    </div>
    <div id="more-info" class="row" style="display: none">
      <div class="col-lg-12 col-lg-6-offset text-center">
        <h4>Mere info følger</h4>
      </div>
    </div>
    <div id ='countdown-box' class="row" style="display: none">
      <div class="col-lg-1 col-lg-1-offset"></div>
      <% [%W(måned måneder months), %w(dag dage days), %w(time timer hours), %w(minut minutter minutes), %w(sekund sekunder seconds)].each do |unit| %>
          <div class="col-lg-2 text-center unit" data-count = '<%= unit[2] %>' data-singular = '<%= unit[0] %>' data-plural = '<%= unit[1] %>'>
            <h2></h2>
            <p></p>
          </div>
      <% end %>

      <div class="col-lg-8 col-lg-offset-2 text-center">
        <!-- <h4>Tilmelding</h4>
         <div class="btn-group" data-toggle="buttons">
           <label class="btn btn-lg btn-outline">
             <input type="radio" name="radio-attendance" id="radio-attending" value="attending"> Ja
           </label>
           <label class="btn btn-lg btn-outline">
             <input type="radio" name="radio-attendance" id="radio-maybe" value ="maybe"> Måske
           </label>
           <label class="btn btn-lg btn-outline">
             <input type="radio" name="radio-attendance" id="radio-declined" value="declined"> Nej
           </label>
         </div>-->
        <form action="https://www.facebook.com/events/<%= @event['id'] %>" target="_blank">
          <input type="submit" name="button-attendance" id="attend-button">
          <label class="btn btn-lg btn-outline" id="attend-button-label" for="attend-button">Event</label>
        </form>
        <br/>
        <p id="attending-list">Hvem var til stede? <i class="fa fa-chevron-down"></i></p>
      </div>
    </div>
  </div>
</section>

<div id = "attending-list-tooltip" class="text-center" style="display: none">
  <% @attending.first(15).each_with_index do |x,i| %>
      <h6><%= x["name"] %></h6>
      <% if i==10 %>
          <h6>... og <%= @attending.count - 11 %> andre ...</h6>
          <% break %>
      <%end %>
  <% end %>

</div>

<!-- Hidden attending popovers -->
<div id="attend-popover" style="display: none">
  <form class="form-inline">
    <input type="radio" name="radio-attendance" class="radio-attendance" id ="radio-attending" value = "attending">
    <input type="radio" name="radio-attendance" class="radio-attendance" id ="radio-maybe" value = "maybe">
    <input type="radio" name="radio-attendance" class="radio-attendance" id ="radio-decline" value = "declined">
  </form>
</div>
<!-- end -->